/* Google fonts CDN LInks */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to bottom, #ff4040, #fda6a6, #fef2f2); */
}
nav{
    height: 80px;
    background-color: #FF0505;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 300px 0px 100px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav .logo{
    font-size: 43px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.container-cu{
    width: auto;
    height: 50%;
    /* background-color: aquamarine; */
}
.container-cu img{
    width: 100%;
    height: 23rem;
}
.desk-cu{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    margin-top: -11rem;
    margin-left: 4rem;
}
.links{
    display: flex;
    color: #fff;
    list-style: none;
    margin-left: 5rem;
}
.link a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 0px 5px;
    text-transform: capitalize;
    left: 5rem;
}
.desk1{
    text-transform: capitalize;
    font-size: 35px;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-bottom: 7rem;
}

.contact-container{
    display: flex;
    /* justify-content: center; */
}
.questions-container{
    max-width: 100%;
    margin-top: 6rem;
    margin: 0 auto;
    /* justify-content: space-evenly; */
}

.question{
    margin-bottom: 4px;
}
/* .question button{
    width: 35%;
    margin-left: 4rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
} */
.btn-1{
    width: 30rem;
    margin-left: 5rem;
    background-color: #A7FAFA;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.btn-2{
    width: 30rem;
    margin-left: 5rem;
    background-color: #A7FABA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.btn-3{
    width: 30rem;
    margin-left: 5rem;
    background-color: #fcaaaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
/* .question p{
    font-size: 18px;
    margin-left: 4rem;
    width: 35%;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
} */
.p-1{
    font-size: 18px;
    margin-left: 5rem;
    width: 30rem;
    background-color: #c7ffff;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.p-2{
    font-size: 18px;
    margin-left: 5rem;
    width: 30rem;
    background-color: #bfffce;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.p-3{
    font-size: 18px;
    margin-left: 5rem;
    width: 30rem;
    background-color: #ffbbbb;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #000;
    font-size: 30px;
    font-weight: 800;
    /* transform: rotate(180deg); */
}

/* ==============WILL ADD WHEN TOGGLE========= */
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/* --------------------------------------------------------- */
.form-container{
    height: 95vh;
    width: 100rem;
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    margin-left: 10rem;
    margin-top: -5rem;
    margin-right: 5rem;
    justify-content: center;
    text-align: center;
    background-color: #ff6f6f;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 26px;
}
.contact-right-tittle h2{
    font-weight: 800;
    color: #000;
    font-size: 30px;
    text-transform: capitalize;
    margin: 1.5rem 5rem 0rem 7.5rem;
}
.contact-left-tittle h2{
    font-weight: 700;
    color: #000;
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 0.5rem;
    margin-bottom: -10px;
}
.contact-inputs{
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-right textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #FF0505;
}
.contact-inputs::placeholder{
    color: #727272;
}
.contact-right button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #000;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #FF0505,#ff6565,#ffdddd);
    cursor: pointer;
}

/* ----------------------------------------------- */
.tittle-faq{
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    /* background-color: #727272; */
}
.faq-section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ques-container{
    max-width: 900px;
    /* margin: 0 auto; */
    margin: 0 4rem 0 4rem;
}

.ques{
    margin-bottom: 4px;
    /* text-align: justify; */
}
.ques button{
    width: 135%;
    background-color: #979797;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.ques p{
    width: 135%;
    font-size: 18px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
    text-transform: capitalize;
    background-color: #adacac;
}
.n-arrow{
    transition: transform 0.5s ease-in;
    color: #000;
    font-size: 25px;
    font-weight: 800;
}

/* ==============WILL ADD WHEN TOGGLE========= */
.ques p.show{
    max-height: 200px;
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.ques button .n-arrow.rotate{
    transform: rotate(180deg);
}

/* ------------------------------------------------------------------------------------------------- */
.container-map{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 4rem;
    align-items: center;
    /* background-color: #A7FABA; */
    justify-content: center;
    flex-direction: column;
}
.tittle-map{
    color: #000;
    font-size: 45px;
    /* margin-bottom: 40px; */
    text-transform: capitalize;
}
hr {
    border: 2px solid #FF0505;
    margin: 20px 0;
    width: 15%;
    margin-top: 4px;
    border-radius: 5px;
    margin-bottom: 60px;
}
iframe{
    width: 80%;
    height: 400px;
    filter: invert(1);
}

/* ======FOOTER====== */
footer {
    padding: 30px 0 0;


}
.Footer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    width: 100%;
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
}

.Footer-content h4{
    color: whitesmoke;
    margin-bottom: 1.5rem;
    font-size: 20px;
    
}

.Footer-content h4:hover {
    text-decoration: dotted;
    color: #ff0505;
}

.Footer-content li {
    margin-bottom: 12px;
}

.Footer-content li a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.Footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    text-decoration: underline;
    color: #ff0505;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color:#ff0505;
    transform: transLateY(-5px);
}

.Footer-content.payment-section {
    margin-top: 20px; /* Jarak di atas elemen dengan class Footer-content dan payment-section */
}

.Footer-Bottom {
    box-sizing: border-box; 
    grid-column: span 3;
    background-color: #ff0505;
    padding: 20px;
    width: 100%;
    text-align: center;
    align-self: end;
}


.Footer-Bottom p {
    margin: 0; 
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Media Query untuk Responsif */
@media only screen and (max-width: 767px) {
    .Footer-Bottom {
        grid-column: span 1; 
    }
}

.Footer-Bottom p{
    color: white;
    margin-top: 10px;
    margin-left: 0;
    font-size: small;
    font-stretch: condensed;
}

.Footer-content h4 {
    color: whitesmoke;
    margin-bottom: 1rem; 
    font-size: 20px;
}

.Footer-content h4:hover {
    text-decoration: dotted;
    color: #ff0505;
}

/* ==========FOOTER END=========== */