@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lexend+Deca:wght@900&family=Poppins:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    /* width: 100%; */
    height: 300vh;
}

html {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FF0505;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}

nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .navbar .logo a{
    color: #ffffff;
    font-size: 43px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

nav .navbar .nav-links{
    height: 100%;
    line-height: 80px;
}


header {
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .background {
    position: relative;
    width: 100%;
    height: 80vh;
}

header .background img {
    width: 100%;
    height: 100%;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .background .heading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 100vh;
    color: #fff;
    margin-top: 12%;
    margin-left: 3rem;
}

header .background .heading h1 {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
}

header .background .heading p {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-weight: lighter;
}

section {
    padding: 2rem 10px;
}

/* BLOG & EVENTS START */

.blog-events-1 {
    /* background-color: #FF0505; */
    display: block;
    justify-content: right;
}

.heading-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 2px;
}

hr {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 2px;
    margin-top: 1.5rem;
    margin-left: 38%;
    background-color: #ff0505;
}
.blog-events {
    /* background-color: pink; */
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: center;
    padding: 0px 0px;
    margin-left: 0;
}
 

.blog-box-container {
    /* background-color: #797979; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 980px;
    width: 90%;
    margin-top: 50px;
    gap: 1rem;
}

.blog-box {
    /* width: 100%; */
    width: 80%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}

.blog-box:hover {
    background-color: #fff;
    box-shadow: 16px 20px 50px rgba(0,0,0,.1) ;
}


.blog-box-img {
    /* width: 100%; */
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.blog-box-img img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}

.blog-img-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    background-color: #fff;
    color: #252525;
    box-shadow: 2px 2px 30px rgba(20, 97, 212, 0.12);
    animation: fade 0.3s;
}
.blog-img-link  i {
    font-size: 30px;
    color: blue;
    background: transparent;
}
.blog-box:hover .blog-box-img a{
    display: flex;
}

.blog-box:hover .blog-box-img img {
    filter: blur(3px);
}
@keyframes  fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blog-box-text {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;
}

.blog-box-text strong,
.blog-box-text p {
    color: #797979;
    font-size: 0.9rem;
    font-weight: 400;
}

.blog-box-text a {
    font-size: 1.4rem;
    color: #252525;
    font-weight: 800;
    line-height: 1.8rem;
    margin: 5px 0px 10px 0px;
}

.blog-box-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.blog-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.blog-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.blog-author-img img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-author-text {
    display: flex;
    flex-direction: column;
}

.blog-author-text strong {
    font-size: 1.3rem;
    color: #252525;
    font-weight: 800;
}

.blog-author-text span {
    color: #797979;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width:920px) {
    html {
        font-size: 50%;
    }
    .blog-box-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 0px;
    }
}

@media (max-width: 890px) {
   header .background .heading h1 {
        font-size: 12rem;
        margin-top: 17%;
    }

    header .background .heading p {
        font-size: 4rem;
    }
}

@media (max-width: 600px) {
    .heading h1 {
        margin-top: 14%;
    }
    .heading-1 {
        font-size: 4rem;
    }
    .blog-box-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .blog-heading h3 {
        font-size: 1.6rem;
    }
}

@media (max-width: 685px) {
    .heading h1 {
        font-size: 4rem;
        margin-top: 10%;
    }
}

@media (max-width: 495px) {
    nav .navbar .logo a {
        font-size: 30px;
    }

    header .background img {
        /* width: 100%; */
    }
    header .background .heading h1 {
        font-size: 6rem;
    }

    header .background .heading p {
        font-size: 3rem;
    }

    header .background .heading h1 {
        margin-top: 50%;
    }
    
     
    .heading-1 {
        margin-top: 5rem;
    }
    
}

@media (max-width: 360px) {
    .heading h1 {
        margin-top: 50%;
    }
}


/* BLOG & EVENTS ENDS */

/* TOPICS STARTS */
.container-t {
    position: relative;
    width: 20%;
    height: auto;
    padding: 30px 30px;
    background-color: #f7f5f5;
    margin-top: -1020px;
    border-radius: 30px;
  
}

.content-t {
    margin-top: -10px;
    padding: auto 50px;
}

.title-t {
    /* background-color: green; */
    padding: 0px 20px;
    margin-bottom: 10px;
    border-bottom: 2.8px solid #c5c3c3;
}


.title-t h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    transition: 0.5s ease;
}

.list-t {
    padding: 10px 5px;
}

.list-t li {
    list-style: none;
    padding: 10px 8px;
    /* background-color: yellow; */
    border-bottom: 2.8px solid  #c5c3c3;
    transition: 0.8s ease;
}

.list-t li:hover {
    transform: scale(1.15);
}


.list-t li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.list-t li a:hover {
   color: #afadad;
}


/* TOPICS ENDS */


/* PAGINATIONS STARTS */
 


/* PAGINATIONS ENDS */

/* FOOTER STARTS */
footer {
    padding: 30px 0 0;


}
.Footer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    /* width: 100%; */
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
}

.Footer-content h4{
    color: whitesmoke;
    margin-bottom: 1.5rem;
    font-size: 20px;
    
}

.Footer-content h4:hover {
    text-decoration: dotted;
    color: #ff0505;
}

.Footer-content li {
    margin-bottom: 12px;
}

.Footer-content li a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.Footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    text-decoration: underline;
    color: #ff0505;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color:#ff0505;
    transform: transLateY(-5px);
}

.Footer-content.payment-section {
    margin-top: 20px; /* Jarak di atas elemen dengan class Footer-content dan payment-section */
}

.Footer-Bottom {
    box-sizing: border-box; 
    grid-column: span 3;
    background-color: #ff0505;
    padding: 20px;
    /* width: 100%; */
    text-align: center;
    align-self: end;
}


.Footer-Bottom p {
    margin: 0; 
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Media Query untuk Responsif */
@media only screen and (max-width: 767px) {
    .Footer-Bottom {
        grid-column: span 1; 
    }
}

.Footer-Bottom p{
    color: white;
    margin-top: 10px;
    margin-left: 0;
    font-size: small;
    font-stretch: condensed;
}

.Footer-content h4 {
    color: whitesmoke;
    margin-bottom: 1rem; 
    font-size: 20px;
}

.Footer-content h4:hover {
    text-decoration: dotted;
    color: #ff0505;
}

/* FOOTER ENDS */

/* ARTIKEL STARTS */

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    /* width: 100%; */
    height: auto;
}

.container-b {
    width: 80%;
    height: auto;
    margin-top: 0;
}

.title-b {
    width: 80%;
    height: 50px;
    padding: 30px 20px;
    margin-bottom: 3rem;
}

.title-b h1 {
    display: flex;
    font-size: 2rem;
}

.title-b p{
    display: flex;
    font-size: 1rem;
    color: grey;
    opacity: 0.7;
}
.title-b i {
    display: flex;
    font-size: 1.2rem;
    color: grey;
    opacity: 0.7;
    padding: 4px 8px;
}

.author-b {
    display: flex;
    padding: 20px 30px;
}

.author-b img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-b p {
    padding: 10px 20px;
    /* background-color: greenyellow; */
    font-size: 1rem;
    font-weight: 800;
}

.social-media {
   padding: 20px 25px;
   margin-bottom: 2rem;
}

.social-media i {
    padding: 0px 50px;
    padding-left: 0;
    font-size: 2rem;
    color: grey;
    opacity: 0.7;
}

.social-media i:hover {
    color: black;
    cursor: pointer;
}

.img-b {
    display: block;
    width: 80%;
    justify-content: center;
    padding-left: 13rem;
    transition: 0.5 ease;
}

.img-b img {
    padding: 10px;
    background-color: #ffff;
    box-shadow: 10px 15px solid rgba(0, 0, 0, 0.2);
}

/* .img-b img:hover {
    transform: scale(1.15);
} */

.text-b span {
   font-size: 2.3rem;
   padding-right: 5px;
   text-transform: capitalize;
}

.text-b {
    padding: 0 30px;
}

.text-b p {
    font-size: 1.3rem;
}

.footer-b {
    display: flex;
    padding: 50px 30px;
    border-top: 2px solid #797979;
}

.footer-b i {
    padding: 10px 15px;
    color: #797979;
    text-align: left;
    border-radius: 50%;
    font-size: 2rem;
}

.footer-b i:hover {
    color: black;
}

.footer-b h3 {
    /* width: 100%; */
    padding: 10px 15px;
    font-size: 13px;
    color: #797979;
    margin-left: 5rem;
    background-color: #fff;
}

.footer-b h3:hover {
    color: black;
    text-decoration: underline;
}
/* ARTIKEL ENDS */



@media only screen and (max-width: 884px) {

    .container-t {
        margin-top: -630px;
        margin-right: 2rem;
    }

    .title-b h1 {
        /* width: 100%; */
        font-size: 3.7rem;
    }

    .title-b i {
        font-size: 2.3rem;
        padding: 0px 10px;
    }
    .title-b p {
        font-size: 2rem;
        padding: 2px auto;
    }

    .author-b p {
        font-size: 2rem;
    }

    .img-b {
            display: block;
            /* width: 100%; */
            justify-content: center;
            transition: 0.5 ease;
            padding: 0 28px;
            
        }
        
        
    }

    @media only screen and (max-width: 768px) {

        .container-t {
            margin-top: -600px;
            margin-right: 2rem;
        }
        .img-b img {
            display: block;
            width: 95%;
            justify-content: center;
            transition: 0.5 ease;
            padding: 10px 0px;
        }

    }

    @media only screen and (max-width: 450px) {

        .container-t {
            margin-top: -1500px;
            margin-right: 2rem;
        }

        .title-t {
            padding: 8px 2px;
        }

        .title-b h1 {
            margin-left: 5px;
        }
        
        .title-b p {
            margin-top: 60px;
            font-size: 1.8rem;
          
        }

        .author-b img {
            width: 30px;
            height: 30px;
            margin-top: 8.8rem;
            
        }

        .author-b p {
            margin-top: 8rem;
            font-size: 1.6rem;
            /* padding:58px 3px ; */
        }

        .social-media {
          margin-top: 3rem;
          padding-top: 2px;
          padding-left: 10px;
          margin-left: 2rem;
        }

        .social-media i {
            font-size: 2.3rem;
            padding-left: 1px;
        }

        .img-b img {
            display: block;
            width: 85%;
            justify-content: center;
            transition: 0.5 ease;
            padding: 8px 0px;
        }

        .footer-b i {
            margin-left: 10px;
            font-size: 2.3rem;
        }

        .footer-b h3 {
            display: inline-block;
            text-align: right;
            font-size: 1rem;
            margin-left: 10px;
            padding-top: 12px;
        }
    } 



