/* Google fonts CDN LInks */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
	margin: 0;
	padding: 0;
	/* background: #0a69ed; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #dedede;
}
/*=======================NAVBAR END======================== */
.container-adv{
    width: 100%;
    height: 50%;
    /* background-color: aquamarine; */
}
.container-adv img{
    width: 100%;
    height: 25rem;
}
.desk-adv{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    margin-top: -11rem;
    margin-left: 4rem;
}
.adv-links{
    display: flex;
    color: #fff;
    list-style: none;
    margin-left: 5rem;
    background-color: pink;
}
.link-adv a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 0px 3px;
    text-transform: capitalize;
    left: 5rem;
}

/* ================================================ */

.desk1 {
    background-color: #dedede;
    margin-top: 6rem;
}

.desk1 h1{
    margin-left: 4rem;
    padding: 20px 0;
    text-transform: capitalize;
    font-size: 35px;
    /* background-color: yellow; */
}
.adv-line{
    display: flex;
}
.adventure{
    background-color: #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.adventure .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.adventure .card:hover{
    height: 400px;
}
.adventure .card .imgBx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.adventure .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.adventure .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adventure .card .content{
    position: absolute;
    top: 235px;
    width: 100%;
    padding: 0 30px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.adventure .card:hover .content{
    height: 250px;
    top: 90px;
    overflow: visible;
}
.adventure .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    /* color: #FF0505; */
}
.adventure .card .content p{
    color: #000;
}
.adventure .card .content a{
    position: relative;
    top: 5px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #ea3232;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
}
